body {
  background-color: lightblue;
}

img {
  width: 100%;
}

h1, h2, p {
  text-indent: 1em;
}

h3 {
  text-align: right;
  text-indent: 1em;
}

/* Classes . */

.main-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.banner {
  margin: 25px 25px 25px 25px;
  text-align: left;
  /* height: auto;
  width: auto;
  align-items: center;
  justify-content: center; */
}

.blog-body {
  background-color: lightgreen;
  text-align: left;
  margin: 25px 25px 25px 25px;
}

/* Desktop size */

@media only screen and (min-width: 1200px) {
  body {
    background-color: bisque;
  }

  .main-container {
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
  }

  .main-container {
    width: 80%;
  }
}

/* Tablet size */

@media only screen and (max-width: 768px) {
  body {
    background-color: lightcyan;
  }

  .main-container {
    width: 100%;
  }
}

/* Phone size */

@media only screen and (max-width: 320px) {
  body {
    background-color: beige;
  }
  
  .main-container {
    width: 100%;
  }
}