body {
  background-color: lightblue;
}

.main-container {
  width: 80%;
  text-align: center;
  display: flex;
  margin: auto;
}

.banner {
  background-color: lightcoral;
}

.blog-body {
  background-color: lightcyan;
}


