body {
  background-color: lightblue;
}

img {
  width: 100%;
}

p, h2 {
  text-indent: 1em;
}

h1 {
  font-size: 60px;
  font-family: 'Franklin Gothic Medium';
}

h3 {
  text-align: right;
  text-indent: 1em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 5px 5px 5px;
}

table {
  width:100%;
}

/* Classes . */

.main-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.banner {
  margin: 25px 25px 25px 25px;
  text-align: left;
  /* height: auto;
  width: auto;
  align-items: center;
  justify-content: center; */
}

.blog-header {
  display: table;
}

.blog-body {
  background-color: lightgreen;
  text-align: left;
  margin: 25px 25px 25px 25px;
  padding: 10px 10px 50px 10px;
}

/* Home Screen Header ID */

#home-header {
  font-size: 60px;
  font-family:'Times New Roman', Times, serif;
}

/* Large Desktop size */

@media only screen and (min-width: 1200px) {
  body {
    background-color: bisque;
  }

  h1 {
    font-size: 80 px;
    text-indent: 1em;
  }
}

/* Removed this section as should be default
@media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
  }

  .main-container {
    width: 80%;
  }

  h1 {
    font-size: large;
  }
} */

/* Tablet size */

@media only screen and (max-width: 768px) {
  h1, h3 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
  }

  .main-container {
    width: 100%;
    background-color: lightcyan;
  }
}

/* Phone size */

@media only screen and (max-width: 420px) {
  .main-container {
    background-color: skyblue;
  }

  h1, h3 {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0px;
  }

  h2 {
    font-size: 10px;
    text-indent: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  p {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0px;
  }

  .blog-header {
    display: flex;
  }

  table {
    display: flex;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #home-header {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0px;
  }
}